LIVEKIT_URL=wss://your-project.livekit.cloud
LIVEKIT_API_KEY=your_livekit_api_key
LIVEKIT_API_SECRET=your_livekit_api_secret
LLM_API_KEY=your_llm_key
GROQ_API_KEY=your_groq_api_key
DEEPGRAM_API_KEY=your_deepgram_api_key
RIME_API_KEY=your_rime_api_key
TAVILY_API_KEY=your_tavily_api_key

CLUSTER_KEY_QDRANT=yourclusterkey
CLUSTER_URL_QDRANT=yourclusterurl

# Authentication for Copilot UI & API
AUTH_USERNAME=Sudarshan
AUTH_PASSWORD=842684
AUTH_SECRET_KEY=b7bc7206fd65770d96d512f8ff9777229a74abec9f39650a33d7b5adecb439f0
